// Colors
$colors: (
  color_primary:     #838f9d,
  color_secondary:   #f3595b,
  color_mono:        #46515e,
  color_mono_one: #318191,
  color_mono_two: #bae6ef,
  color_mono_three: #68aa9a,
  color_mono_four: #99e8f1,
  color_mono_five: #f8deb7,
  color_mono_six: #aedacf,
  color_mono_seven: #828e9c,
  color_mono_eight: #83d7c0,
  color_mono_nine: #6d7989,
  color_mono_ten: #384969,
  color_white:    #ffffff,
  color_black: #000000,
  color_purple: #a864a8,
  color_blue: #3cb878,
  color_yellow: #fff200,
  color_red: #ff0000,
);