@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Asap+Condensed:400,500,700&display=swap);

$font_0: 'Montserrat';
$font_1: sans-serif;
$font_2: 'Asap Condensed';